<% content_for :title, "Checkout | Queer Tango Club" %>

<form class="container padding">
  <section id="information">
    <h2>Your Information</h2>
    <fieldset>
      <label for="name">Name</label>
      <input type="text" />
    </fieldset>
    <fieldset>
      <label for="name">Email</label>
      <input type="email" />
    </fieldset>
  </section>
  <section id="payment">
    <fieldset>
      <label for="cardholder_name">Name on Card</label>
      <input type="text" />
    </fieldset>
    <fieldset>
      <label for="card_number">Card Number</label>
      <input type="text" />
    </fieldset>
    <fieldset>
      <label for="card_expiration">Expiration</label>
      <input type="text" />
    </fieldset>
    <fieldset>
      <label for="card_cvc">CVC</label>
      <input type="text" />
    </fieldset>
  </section>
  <button>Process Payment</button>
</form>
