#about {
  .signatures {
    .et {
      position: relative;
      top: -8px;
      font-weight: normal;
      font-style: italic;
      font-size: 1.2rem;
      padding: 0 10px;
    }
  }

  @media screen and (max-width: 400px) {
    .signatures {
      text-align: center;
      .et {
        font-size: 1.5rem;
        padding-top: 1rem;
        line-height: 2rem;
        display: block;
      }
    }
  }
}