.new-event {
  display: block;
  text-align: center;
  font-size: 32px;
  line-height: 2em;
  text-decoration: none;
  transition: all 120ms;

  svg {
    position: relative;
    top: 8px;
    width: 40px;
    height: 40px;
    transition: all 120ms;
  }

  &:hover {
    color: $soot;
    path {
      fill: $soot;
    }
  }
}

.event {
  position: rleative;
  height: 400px;

  .cover-photo {
    position: absolute;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 400px;
  }

  .frame {
    position: relative;
    height: 350px;
  }

  .align-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &:not(:last-child) {
    margin-bottom: 50px;
  }
}

#guests {
  img {
    padding-top: 10px;
  }
  h4 {
    padding: 0.4rem 0;
  }
  h6:last-of-type {
    padding-bottom: 1rem;
  }
}

section {
  padding-bottom: 3rem;
}

body#events #schedule {
  h2 {
    padding-bottom: 0.5rem;
  }
  padding-bottom: 0;

  label {
    padding: 0;
  }
  .static-80 input {
    margin-top: 10px;
  }
}

#itemizations {
  dt, dd {
    width: 50%;
    padding: 0.5rem 0;
  }
  dd {
    text-align: right;
  }
  dl {
    display: flex;
    flex: 1 1 auto;
    align-items: stretch;
    justify-content: flex-start;
    padding-bottom: 1rem;
    flex-wrap: wrap;
  }
  div {
    width: 100%;
  }
}

#receipt {
  padding-bottom: 5rem;
  max-width: 400px;
}

.session {
  h3 {
    padding: 0.4rem 0;
  }
  h6 {
    padding-bottom: 0.4rem;
  }
  h6:last-of-type {
    padding-bottom: 1rem;
  }
  padding-bottom: 1.4rem;
}

#location {
  h2 {
    padding-top: 2rem;
  }

  h5 {
    padding-bottom: 0.4rem;
  }

  aside {
    padding-top: 1rem;
    padding-bottom: 1rem;
    line-height: 1.4rem;
  }
}

@media screen and (max-width: 600px) {
  .event {
    height: 300px;
    .grid-frame, .frame {
      position: relative;
      height: 300px;
    }
  }

  #guests, #location {
    .half + .half {
      padding: 0;
      padding-top: 1rem;
      padding-bottom: 2rem;
    }
  }

  #location {
    .align-right {
      text-align: left;
    }
  }
}

#events #photos {
  position: relative;
}
.photo-gallery {
  width: 100vw;

  ol {
    list-style: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding: 0;
  }

  li {
    display: inline-block;
  }
}

#next-photo, #prev-photo {
  position: absolute;
  top: 50%;
  height: 50px;
  background: $black;
  width: 30px;

  svg {
    margin: 12px 3px;
  }
  use {
    fill: $white;
  }
}
#next-photo {
  right: 0;
}