.thick-border-bottom {
  border-bottom: 3px solid $soot;
}

.thin-border-bottom {
  border-bottom: 1px solid $soot;
}

.table-header .accordion {
  padding-top: 0;
  padding-bottom: 0;
}

.table {
  width: 100%;

  .table-cell {
    line-height: 40px;
  }

  .table-header .table-cell {
    font-weight: 900;
  }

  .table-footer {
    border-top: 2px solid $soot;
    height: 40px;
  }

  .table-body .row {
    overflow: hidden;
    border-bottom: 1px solid $cloudy;
  }

  .attended {
    width: 40px;
    .icon {
      position: relative;
      left: 5px;
    }
  }

  .name {
    width: calc(50% - 120px);
    height: 40px;
  }

  .email {
    width: 50%;
    height: 40px;
  }

  .paid {
    width: 80px;
  }

  .payer-name {
    width: calc(100% - 180px);
    height: 40px;
  }

  .payment-method {
    width: 80px;
  }

  .payment-amount {
    text-align: right;
    width: 100px;
  }
}

body#members #schedule {
  @media screen and (max-width: 500px) {
    .table-header {
      display: none;
    }

    .row {
      height: 120px;
    }

    .name {
      width: calc(100% - 40px);
    }
    .email, .paid {
      line-height: 40px;
      padding-left: 40px;
      width: 100%;
    }
  }
}

#ledger {
  @media screen and (max-width: 500px) {
    .payer-name {
      width: calc(100% - 100px);
    }
    .payment-method {
      display: none;
    }
  }
}