body#photos {
  .photo {
    position: relative;
    display: inline-block;
    width: calc(50% - 5px);

    img {
      width: 100%;
    }

    a {
      position: absolute;
      right: 7px;
      top: 5px;
      -webkit-filter: drop-shadow(0 0 1px $black);
              filter: drop-shadow(0 0 1px $black);

      path {
        fill: $white;
      }
    }
  }
}