<% content_for :title, "About | Queer Tango Club" %>

<section>
  <div class="container">
    <h2>About</h2>
    <p>We started the Queer Tango Club to provide a space where a community of LGBT and queer friendly tangueros can enjoy tango in the same way that traditional milongas have been enjoyed by heterosexuals. We want to come together, have fun, connect, be intimate, be supportive, and help each other progress and grow in this beautiful and sensual dance form.</p>

    <p>We have no desire to exclude, and only to include. We welcome all and especially those who are interested in exploring leading and following outside of their gender assigned roles.</p>

    <p>In addition to hosting practicas and milongas, we also wish to promote tango within the LGBT community by providing access and opportunities to learn tango with a rotation of guest teachers who are based in New York.</p>

    <p>Finally we would like to acknowledge and express our gratitude to The Queer Tango Project, the Queer Tango organizers and teachers, as they have inspired and motivated us to embark on this wonderful journey!</p>

    <p class="signatures">
      <%= inline_svg("philee") %> <span class="et">&</span> <%= inline_svg("tim") %>
    </p>
  </div>
</section>
