<% content_for :title, "About | Queer Tango Club" %>

<section class="frame">
  <h2>About</h2>
  <hr class="thick">
  <p>New York Queer Tango Club was started in October 2015 with the purpose of providing a space where a community of LGBTQI dancers can enjoy tango in the same way that traditional milongas have been enjoyed by heterosexuals.</p>
  <p>Over the past two years we have become cognizant of the necessity and complexity of defining our own queer identity and queer space, which would be relevant and transformational to the local environment and time that we live in.</p>
  <p>The Tango emerged, transformed and evolved analogous to the cultural, social, and political spaces that it inhabited over time. Correspondingly, the Queer Tango movement emerged as a form of protest against the practice of exclusivity, and discrimination against homosexuals, same gender dancing and non-gender conforming roles.</p>
  <p>Today in our immediate landscape we face a similar climate but dissimilar situation. Discriminatory practices are not as uniformed and easily identifiable. What is apparent is a climate of elitism, sexism, agism, racism, lack of etiquette, generosity, and kindness towards the beings that exist in our social spaces.</p>
  <p>At New York Queer Tango Club, we hope to provide a safe space for all. We understand that biases and prejudices exist in all but our actions do not have to be governed by them. We believe in cultivating positive action, and maintaining a Queer attitude in the face of discrimination.</p>
  <p class="signatures">
    <%= inline_svg("philee") %> <span class="et">&</span> <%= inline_svg("tim") %>
  </p>
</section>
