<% content_for :title, "Privacy | Queer Tango Club" %>

<section class="frame">
  <h2>Privacy Policy</h2>
  <time datetime="2016-10-01">October 1, 2016</time>
  <p>Queer Tango Collective, Inc. does not sell, lease, or give your Personal Information to any other company abset your consent.</p>

  <p>Queer Tango Collective uses User Information to provide you with timely emails about your orders and to provide updates about upcoming events.</p>

  <p>Users consent to the sharing of User Information with third parties in certain limited circumstances:</p>

  <p>Use of certain trusted third party companies and individuals to help us provide, analyze, and improve the Service (including but not limited to data storage, maintenance services, database management, web analytics, payment processing, and improvement of the Service’s features). These third parties may have access to your User Information only for purposes of performing these tasks on our behalf and under obligations similar to those in this Privacy Policy. By using our Service, you consent to our sharing of your User Information with these trusted third party companies.</p>
  <p>To comply with laws and law enforcement requests and to protection of Queer Tango Collective's rights.</p>
</section>
