.accordion {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  cursor: pointer;
  -webkit-touch-callout: none;

  svg {
    position: relative;
    top: 3px;
    left: 10px;
    transition: all 0.5s;
    transform-origin: 50% 50%;
    shape-rendering:geometricPrecision;
  }

  &.collapsed {
    svg {
      transform: rotateX(180deg);
    }
  }
}
