.grid-frame {
  width: 800px;
  margin: 0 auto;

  .row, .col, .block {
    display: flex;
    position: relative;
    backface-visibility: hidden;
    flex: 1 1 auto;
    align-items: stretch;
    justify-content: flex-start;
    order: 0;
    height: auto;

    &.align-left {
      text-align: left;
      justify-content: flex-start;
    }

    &.align-center {
      justify-content: center;
      text-align: center;
    }

    &.align-right {
      text-align: right;
      justify-content: flex-end;
    }

    &.align-justify {
      justify-content: space-between;
    }

    &.align-spaced {
      justify-content: space-around;
    }

    &.align-bottom {
      align-self: flex-end;
    }

    &.nowrap {
      flex-wrap: nowrap;
    }

    img {
      max-width: 100%;
    }

    .whole {
      width: 100%;
    }

    .half {
      width: 50%;
    }

    .fill {
      flex: 1;
    }

    .static-80 {
      width: 80px;
    }

    .static-80 + * {
      width: calc(100% - 80px);
    }
  }

  .row {
    flex-flow: row wrap;
    &.reverse {
      flex-direction: row-reverse;
    }
  }

  .col, .block {
    flex-flow: col wrap;
    &.reverse {
      flex-direction: col-reverse;
    }
  }
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

@media screen and (max-width: 860px) {
  .grid-frame:not(.no-padding) {
    width: 100%;
    padding: 0 20px;
  }
}

@media screen and (max-width: 800px) {
  .grid-frame {
    width: 100%;
  }
}
