table {
  width: 100%;

  thead {
    border-bottom: 1px solid $soot;
  }

  td, th {
    line-height: 40px;
  }

  th {
    font-weight: 900;
    text-align: left;
  }

  tbody td {
    border-bottom: 1px solid $cloudy;
  }

  td .icon {
    position: relative;
    top: 6px;
    left: 6px;
  }
}