<footer>
  <div class="container padding">
    <a class="nolink" href="https://facebook.com/nycqueertangoclub" target="_blank"><%= inline_svg("icons/facebook") -%></a>
    <a href="https://facebook.com/nycqueertangoclub" target="_blank">nycqueertangoclub</a>
    <span class='vr'></span>
    <%= inline_svg("icons/email") %><%= mail_to('nyqtangoclub@gmail.com', nil, class: 'contact') %>
  </div>
</footer>
