<footer>
  <div class="container">
    <a class="nolink" href="https://facebook.com/nycqueertangoclub" target="_blank"><%= inline_svg("facebook") -%></a>
    <a href="https://facebook.com/nycqueertangoclub" target="_blank">nycqueertangoclub</a>
    <span class='vr'></span>
    <%= mail_to('nyqtangoclub@gmail.com') %>
  </div>
</footer>
