<footer>
  <div class="grid-frame">
    <a class="nolink" href="https://facebook.com/nycqueertangoclub" target="_blank"><%= icon("facebook") -%></a>
    <a href="https://facebook.com/nycqueertangoclub" target="_blank">nycqueertangoclub</a>
    <span class='vr'></span>
    <%= icon("email") %><%= mail_to(Rails.application.secrets.email_address, nil, class: 'contact') %>
  </div>
</footer>
