<div class="location">
  <img src="<%= location.map_url(width: 300, height: 300) %>" alt="Map for <%= location.name %>" width=300 height=300/>
  <a href="<%= location.directions_url %>">Directions to <%= location.name %></a>
</div>
