<% content_for :title, "Events | Queer Tango Club" %>

<section>
  <div class="grid-frame">
    <h2>Events</h2>
    <hr class="thick">
  </div>
  <% @milongas.each do |event| %>
    <%= render partial: 'cover_photo', locals: { event: event } %>
  <% end %>
</section>
